<div class="container">
    <h1 class="text-quaternary text-center my-5 animate__animated animate__fadeInUp fw-bold">Ponte en contacto con nosotros</h1>
    <div class="card animate__animated animate__fadeInUp">
        <div class="mb-3">
            <div class="row g-3 mx-3 my-2 align-items-center align-middle">
                <div class="col-1">
                    <label class="col-form-label">Nombre(s)</label>
                </div>
                <div class="col-4">
                    <input class="form-control">
                </div>
                <div class="col-2 text-end">
                    <label class="col-form-label">Apellidos</label>
                </div>
                <div class="col-5">
                    <input class="form-control">
                </div>
            </div>
            <div class="row g-3 mx-3 my-2 align-items-center align-middle">
                <div class="col-1">
                    <label class="col-form-label">Teléfono</label>
                </div>
                <div class="col-11">
                    <input class="form-control">
                </div>
            </div>
            <div class="row g-3 mx-3 my-2 align-items-center align-middle">
                <div class="col-1">
                    <label class="col-form-label">Correo</label>
                </div>
                <div class="col-11">
                    <input class="form-control">
                </div>
            </div>
            <hr class="mx-3 my-4">
            <div class="row g-3 mx-3 mb-2 align-items-center align-middle">
                <div class="col-2 mt-0">
                    <label class="col-form-label">Comentarios</label>
                </div>
                <div class="col-12 mt-0">
                    <textarea class="form-control"></textarea>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center my-3 animate__animated animate__fadeInDown">
        <button class="btn btn-secondary fs-2 rounded-5">Enviar</button>
    </div>
</div>