<div class="container">
    <h1 class="text-quaternary mt-5 text-center animate__animated animate__fadeInUp fw-bold">NOTICIAS</h1>
    <div class="card mt-5 animate__animated animate__fadeInUp">
        <section class="my-4 mx-5 text-primary">
            <h2 class="text-center animate__animated animate__fadeInDown fs-2 text-quinary">ECEEN’s First Step in South
                Africa | Solar
                Charger Bag Show
            </h2>
            <h3 class="animate__animated animate__fadeInDown text-center fs-6 text-secondary">Date: 06/12/2020
            </h3>
            <div>
                <hr class="my-4">
            </div>
            <article class="container">
                <div class="fs-6">
                    <p class="mt-2">The ECEEN team carries a variety of fashionable solar backpacks, smart
                        & fast
                        (QC3.0) solar charger, digital display solar chargers, including the most popular models of
                        ECE-602,
                        ECE-611, ECE -612 in Americans and Europeans, and they have been loved by African friends in the
                        SAITEX
                        show in Joburg too!
                    </p>
                    <p class="text-justify mt-2">ECEEN took about 30 samples of solar bags, chargers and solar lamps
                        this time.
                        Half of the samples were booked by customers on the first day of the exhibition. By the third
                        day of the
                        exhibition, no samples were available for sale, including our sales staff. The self-used solar
                        backpack
                        was also forcibly bought by guests. We had to buy a bag in local area to hold the accompanying
                        items. The
                        500 color pages brought were also sent out, African friends love solar products indeed!
                    </p>
                </div>
            </article>
        </section>
    </div>
</div>