<div class="container">
  <h1 class="text-quaternary text-center my-5 animate__animated animate__fadeInUp fw-bold">Bienvenido</h1>
  <div class="card animate__animated animate__fadeInUp w-100">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="../../../assets/logo.png" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8 text-primary">
        <div class="card-body">
          <h3 class="card-title fw-bold">TITULO</h3>
          <hr>
          <p class="card-text">Nota previa</p>
          <button class="btn btn-primary">Botón enlace</button>
        </div>
      </div>
    </div>
  </div>   
</div>
   
<!-- <section>
  <div id="posts">
  </div>
</section> -->